<template>
  <div>
    <h1>LaraVue App para Opratel</h1>

    <p>
      <router-link :to="{ name: 'home' }">Home</router-link>|
      <router-link :to="{ name: 'hello' }">Hola a todos</router-link>
      <router-link :to="{ name: 'users.index' }">Usuarios</router-link>
      <router-link :to="{ name: 'users.create' }">Crear Usuario</router-link>
      <!-- <router-link :to="{ name: 'tests.index' }">Pruebas</router-link> -->
    </p>
    <br />

    <input
      class="autocomplete-input"
      placeholder="Search Users"
      aria-label="Search Wikipedia"
      v-model="name"
      v-on:keydown.13="search"
    />
    <ul class="autocomplete-result-list"></ul>

    <div v-if="! found">Loading...</div>
    <div v-if="message" class="alert">{{ message }}</div>

    <br />


    <div class="container">
      <router-view></router-view>
    </div>
  </div>
</template>
<script>

import api from "../../js/api/users";

export default {
  data() {
    return {
      name: "",
      found: true,
      message: null,
      user: null,
    };
  },
  methods: {
    search() {

      this.found = false;

      api
        .search(this.name)
        .then(response => {
          this._id = response.data._id
          this.message = "Usuario Encontrado";
          setTimeout(() => this.$router.push({ path: "/users/" +  this._id + "/edit"}), 2000);
        })
        .catch(error => {
          console.log(error);
        })
        .then(_ => (this.saving = false));
    }
  }
};
</script>
<style >
.autocomplete {
  max-width: 400px;
  margin: 16px auto 64px;
}
</style>
<style lang="scss">
    $red: lighten(rgb(48, 211, 48), 30%);
$darkRed: darken($red, 50%);
.form-group label {
  display: block;
}
.alert {
  background: $red;
  color: $darkRed;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  border: 1px solid $darkRed;
  border-radius: 5px;
}
</style>
