<template>
    <div class="users">
        <div class="loading" v-if="loading">
            Loading...
        </div>

        <div v-if="error" class="error">
            {{ error }}
        </div>

        <ul v-if="tests">
            <li v-for="{ name } in tests">
                <strong>Name:</strong> {{ name }},
            </li>
        </ul>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    data() {
        return {
            loading: false,
            tests: null,
            error: null,
        };
    },
    created() {
        this.fetchData();
    },
    methods: {
        fetchData() {
            this.error = this.tests = null;
            this.loading = true;
            axios
                .get('/api/tests')
                .then(response => {
                    console.log(response);
                });
        }
    }
}
</script>
