<template>
  <div>
    <div v-if="! loaded">Loading...</div>
    <div v-if="message" class="alert">{{ message }}</div>
    <form @submit.prevent="onSubmit($event)" v-else>
      <div class="form-group">
        <label for="user_name">Nombre</label>
        <input id="user_name" v-model="user.name" />
      </div>
      <div class="form-group">
        <label for="user_email">Email</label>
        <input id="user_email" type="email" v-model="user.email" />
      </div>
      <div class="form-group">
        <label for="user_edad">Edad</label>
        <input id="user_edad" type="number" v-model="user.edad" />
      </div>
      <div class="form-group">
        <button type="submit" :disabled="saving">Create</button>
      </div>
    </form>
  </div>
</template>
<script>
import api from "../../js/api/users";

export default {
  data() {
    return {
      message: null,
      loaded: false,
      saving: false,
      user: {
        id: null,
        name: "",
        email: "",
        edad: null
      }
    };
  },
  created() {
    this.name = "";
    this.email = "";
    this.edad = null;
  },
  methods: {
    onSubmit(event) {
      this.saving = true;

      api
        .create({
          name: this.user.name,
          email: this.user.email,
          edad: this.user.edad
        })
        .then(response => {
          this.message = "Usuario Creado";
          setTimeout(() => this.$router.push({ name: "users.index" }), 2000);
        })
        .catch(error => {
          console.log(error);
        })
        .then(_ => (this.saving = false));
    }
  }
};
</script>

<style lang="scss" scoped>
$red: lighten(rgb(48, 211, 48), 30%);
$darkRed: darken($red, 50%);
.form-group label {
  display: block;
}
.alert {
  background: $red;
  color: $darkRed;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  border: 1px solid $darkRed;
  border-radius: 5px;
}
</style>
