<template>
    <div class="users">
        <!-- <div class="loading" v-if="loading">
            Loading...
        </div> -->

        <div v-if="error" class="error">
            {{ error }}
        </div>

        <!-- <p>
            <button @click.prevent="fetchData">
                Try Again
            </button>
        </p> -->

        <ul v-if="users">
            <li v-for="{ _id, name, email } in users">
                <strong>Name:</strong> {{ name }},
                <strong>Email:</strong> {{ email }}
                <router-link :to="{ name: 'users.edit', params: { _id } }">Edit</router-link>
            </li>
        </ul>

        <div class="pagination">
            <button :disabled="! prevPage" @click.prevent="goToPrev">Previous</button>
            {{ paginationCount }}
            <button :disabled="! nextPage" @click.prevent="goToNext">Next</button>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

const getUsers = (page, callback) => {
    const params = { page };

    axios
        .get('/api/users', { params })
        .then(response => {
            callback(null, response.data);
        }).catch(error => {
            callback(error, error.response.data);
        });
};

export default {

    data() {
        return {
            users: null,
            meta: null,
            // loading: false,
            links: {
                first: null,
                last: null,
                next: null,
                prev: null,
            },
            error: null,
        };
    },
    computed: {

        nextPage() {
            if (! this.meta || this.meta.current_page === this.meta.last_page) {
                return;
            }

            return this.meta.current_page + 1;
        },
        prevPage() {
            if (! this.meta || this.meta.current_page === 1) {
                return;
            }

            return this.meta.current_page - 1;
        },
        paginationCount() {

            if (! this.meta) {
                return;
            }

            const { current_page, last_page } = this.meta;

            return `${current_page} of ${last_page}`;
        },
    },

    beforeRouteEnter (to, from, next) {
        // const params = {
        //     page: to.query.page
        // };

        getUsers(to.query.page, (err, data) => {
            next(vm => vm.setData(err, data));
        });
    },

    beforeRouteUpdate (to, from, next) {
        this.users = this.links = this.meta = null
        getUsers(to.query.page, (err, data) => {
            this.setData(err, data);
            next();
        });
    },

    methods: {

        goToNext() {
            this.$router.push({
                query: {
                    page: this.nextPage,
                },
            });
        },

        goToPrev() {
            this.$router.push({
                name: 'users.index',
                query: {
                    page: this.prevPage,
                }
            });
        },

        setData(err, {
            data: users,
            current_page,
            data,
            first_page_url,
            from,
            last_page,
            last_page_url,
            next_page_url,
            path,
            per_page,
            prev_page_url,
            to,
            total
        }) {
            if (err) {
                this.error = err.toString();
            } else {

                this.meta = {
                    current_page,
                    data,
                    from,
                    last_page,
                    path,
                    per_page,
                    to,
                    total
                }

                this.links = {
                    first_page_url,
                    last_page_url,
                    prev_page_url,
                    next_page_url
                }

                this.users = users;
            }
        },
    },
}
</script>
